[submodule "pulse-remote-flask"]
	path = pulse-remote-flask
	url = git@github.com:undg/pulse-remote-flask
[submodule "pulse-remote-react"]
	path = pulse-remote-react
	url = git@github.com:undg/pulse-remote-react
