pkgbase = pulse-remote-git
	pkgdesc = Remote Audio Control for PulseAudio/PipeWire. Use your phone to adjust volume on your PC.
	pkgver = 0.9.6.r0.g5a0713f
	pkgrel = 1
	url = https://github.com/undg/pulse-remote
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = libpulse
	source = pulse-remote-git::git+https://github.com/undg/pulse-remote.git
	sha256sums = SKIP

pkgname = pulse-remote-git
